# Python
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment variables
.env

# Raw and generated data
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Models and outputs
models/*
outputs/figures/*
outputs/maps/*
outputs/tables/*